<h1>Home</h1>

<h2>Transaction history</h2>

<form action="/" method="post">
  <label>
  Merchant:
    <select name="merchant_id">
      <option selected disabled value="">Select merchant</option>
        <% for merchant in @merchants %>
          <option value="<%= merchant.id %>"><%= merchant.name %></option>
        <% end %>
    </select>
  </label>

  <label>
    Tag:
      <select name="tag_id">
        <option selected disabled value="">Select tag</option>
          <% for tag in @tags %>
            <option value="<%= tag.id %>"><%= tag.name %></option>
          <% end %>
      </select>
  </label>

  <label>
    <label for="amount">Amount: £</label>
    <input type='number' name='amount' id='amount'</input>
  </label>

  <input type="submit" value="Post transaction">
</form>


<h4>Total spent: £<%= Transaction.total() %></h4>

<table>
  <tbody>
    <tr>
      <th>Name</th>
      <th>Tag</th>
      <th>Date & Time</th>
      <th>Amount</th>
    </tr>
  <% for transaction in @transactions %>
    <tr>
      <td><%= transaction.merchant().name %></td>
      <td><%= transaction.tag().name %></td>
      <td><%= transaction.trans_time[0, 16]%></td>
      <td>£<%= transaction.amount() %></td>
    </tr>
  </tbody>
<% end %>
</table>
