<h1>Home</h1>

<h2>Transaction history</h2>

<form action="/" method="post">
  <label>
  Merchant:
    <select name="merchant_id">
      <option selected disabled value="">Select merchant</option>
        <% for merchant in @merchants %>
          <option value="<%= merchant.id %>"><%= merchant.name %></option>
        <% end %>
    </select>
  </label>

  <label>
    Tag:
      <select name="tag_id">
        <option selected disabled value="">Select tag</option>
          <% for tag in @tags %>
            <option value="<%= tag.id %>"><%= tag.name %></option>
          <% end %>
      </select>
  </label>

  <label>
    <label for="tag-name">Time:</label>
    <input type="text" id = "tag-name" name="trans_time">
  </label>

  <label>
    <label for="tag-name">Amount: £</label>
    <input type="number" id = "tag-name" name="amount">
  </label>

  <input type="submit" value="Post transaction">
</form>


<h4>Total spent: £<%= Transaction.total() %></h4>



<table>
  <tbody>
  <tr>
    <th>Name</th>
    <th>Tag</th>
    <th>Time</th>
    <th>Amount</th>
  </tr>
<% for transaction in @transactions %>
  <tr>
    <td><%= transaction.merchant().name %></td>
    <td><%= transaction.tag().name %></td>
    <td><%= transaction.trans_time() %></td>
    <td>£<%= transaction.amount() %></td>
  </tr>


</tbody>
<% end %>
</table>


<!-- <p>Merchant: </p>
<p>Tag: <%= transaction.tag().name %></p>
<p>Time: <%= transaction.trans_time() %></p>
<p>Amount: £<%= transaction.amount() %></p> -->
